<div class="row">
    <div class="col-md-12">
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
        <input type="text" class="form-control" [(ngModel)]="serverName">
    </div>
    <div class="col-md-12">
        <p>{{ serverName }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">Add Server</button>
        &nbsp; {{ serverCreationStatus }}
    </div>
    <div class="col-md-12">
        <app-server></app-server>
        <app-server></app-server>
    </div>
</div>